.entryPage {
  width: 700px;
  min-width: 700px;
  min-height: 350px;
  height: auto;
  margin: 200px auto;
  border: 1px dashed #6f9ba4;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #6f9ba4, 0 0 0 10px #fff,
    0 0 2px 10px #eee;
}
