#userBackground {
  border-radius: 5px;
  width: 100%;
  height: 260px;
  padding: 20px;
  z-index: 0;
  background-size: cover;
  position: relative;
}

#editBtn {
  font-size: 14px;
  float: right;
  color: white;
  transition: 0.2s ease-in-out;
}

#editBtn:hover {
  filter: saturate(250%);
  cursor: pointer;
  color: var(--active-color);
}

#addNewPost {
  float: right;
}

#userPhoto {
  position: absolute;
  top: 75px;
  left: 30px;
  border: 2px solid white;
  background-size: cover;
  border-radius: 5px;
  width: 250px;
  height: 400px;
  z-index: 1;
  transition: 0.2s ease-in-out;
}

.userDescription {
  margin-top: 10px;
  height: auto;
  width: auto;
  margin-left: 300px;
  margin-right: 20px;
}

.userDescription .descArea {
  white-space: pre-wrap;
  margin-top: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 5px;
  min-height: 80px;
}

.userDescription .label {
  font-size: 14px;
  color: #a1a1a1;
}

.userDescription .name {
  font-size: 28px;
  font-weight: bold;
  color: var(--header-color);
}
