body {
  --main-color: #060e24;
  --active-color: #d4affe;
  --header-color: #0e225d;
  --some-color: #83acec;
  background-color: var(--main-color) !important;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  background-color: #472047;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #864b87;
}

body::-webkit-scrollbar-track {
  background-image: -webkit-linear-gradient(
    270deg,
    var(--header-color) 71px,
    transparent 71px
  );
}

.header {
  background-color: var(--header-color);
  z-index: 10;
  width: 100%;
  top: 0px;
  position: fixed !important;
}

.header .header_link {
  color: white;
}

.header .header_link:hover {
  color: var(--active-color);
}

.header .active {
  color: var(--active-color);
}

.header .hidden {
  display: none;
}

.header .name_link {
  font-size: 30px;
  background: linear-gradient(
    45deg,
    var(--active-color) 25%,
    white 35%,
    var(--some-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  color: var(--some-color);
}

.header .header_menu {
  justify-content: flex-end;
}

.header .profile_menu {
  width: 200px;
  padding: 10px 20px;
  background-color: var(--header-color);
  border: 1px solid var(--main-color);
  animation: menu 0.3s;
}

.header .profile_menu .divider {
  height: 1px;
  background-color: var(--active-color);
}

.blueDivider {
  height: 1px;
  background: radial-gradient(70% 50%, #bbc3df, white);
  margin-bottom: 10px;
}

.error_page {
  color: var(--active-color);
  font-size: 70px;
  margin-top: 300px;
  text-align: center;
  width: 100%;
}

@keyframes menu {
  0% {
    margin-top: -20px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
