body {
  background-image: url("../img/background.png");
  background-size: cover;
}

.header {
  background-color: #172172;
  overflow: hidden;
  position: absolute;
}

.header .header_link {
  color: #ffffff;
}

.header .header_link:hover {
  color: #d4affe;
}

.header .active {
  color: #d4affe;
}

.header .hidden {
  display: none;
}

.header .name_link {
  font-size: 30px;
  background: linear-gradient(45deg, #b483ec 15%, #c6d9ff 50%, #0d61bc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  color: #83acec;
}

.header .header_menu {
  justify-content: flex-end;
}

.errorString {
  color: #ff6161;
}

.error_page {
  color: #c898ff;
  font-size: 70px;
  margin-top: 300px;
  text-align: center;
  width: 100%;
}
