.registration_form {
  color: #ffffff;
  width: 800px;
  min-width: 700px;
  min-height: 320px;
  height: auto;
  margin: 200px auto;
}

.registration_form .row {
  margin: 10px 0px;
}

.registration_form .label {
  text-align: right;
}
