#newPost {
  display: none;
  height: 100%;
}

#openedPost {
  height: 100%;
}
#newImage {
  width: 500px;
  float: left;
}

.info {
  height: 100%;
  width: 250px;
  float: left;
}
.descriptionPost {
  position: absolute;
  top: 20px;
  left: 530px;
  z-index: 2;
}

.descriptionPost #userPhotoPost {
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.descriptionPost #userNamePost {
  margin: 18px 10px;
  float: left;
  color: var(--header-color);
  font-size: 20px;
  font-weight: bold;
}

.operationsPost {
  position: absolute;
  width: 250px;
  left: 530px;
  bottom: 5px;
  height: 50px;
}

.operationsPost .btn {
  margin-left: 0 !important;
  margin-right: 10px !important;
  width: 110px !important;
}
#newPostImage {
  min-height: 500px;
  border: 2px solid #ccc;
  width: 500px;
}

#newPostImage,
#loadedImg {
  border-radius: 5px;
  background-color: white;
  background-size: cover;
  transition: 0.2s ease-in-out;
  position: relative;
}

.postImage {
  margin: auto 0;
}

#newPostImage.highlight {
  cursor: pointer;
  -webkit-filter: brightness(40%);
  -moz-filter: brightness(40%);
  -o-filter: brightness(40%);
  -ms-filter: brightness(40%);
  filter: brightness(40%);
  border-color: var(--header-color);
}

#addIcon {
  color: black;
  display: inline-block;
  font-size: 70px;
  position: absolute;
  top: 185px;
  left: 220px;
}

#addText {
  color: black;
  display: inline-block;
  font-size: 14px;
  position: absolute;
  top: 270px;
  left: 120px;
}

#postImage {
  display: none;
}
