#newPost {
  display: none;
  height: 100%;
}

#openedPost {
  height: 100%;
}
#newImage {
  width: 500px;
  float: left;
}

.info {
  height: 100%;
  width: 250px;
  float: left;
}
.descriptionPost {
  width: 250px;
  position: absolute;
  top: 5px;
  left: 540px;
  z-index: 2;
}

.descriptionPost .userInfo {
  margin-top: 15px;
}

.descriptionPost #userPhotoPost {
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#likes {
  height: 40px;
  margin-left: 23px;
  width: 200px;
  margin-top: 90px;
}

#likesCount {
  float: left;
  margin-left: 10px;
}

#likesCount .label {
  color: #7a8695;
}

#likesNum {
  color: var(--header-color);
  font-weight: bold;
  margin-left: 5px;
}

.likeIcons {
  transition: 0.2s ease-in-out;
  float: left;
}

.likeIcons:hover {
  filter: saturate(300%);
  cursor: pointer;
}

.descriptionPost #userNamePost {
  width: 100px;
  margin: 18px 10px;
  float: left;
  color: var(--header-color);
  font-size: 20px;
  font-weight: bold;
}
.descriptionPost .blueDivider {
  width: 235px;
}
.operationsPost {
  position: absolute;
  width: 235px;
  left: 540px;
  bottom: 15px;
  height: auto;
}

.operationsPost .btn {
  margin-left: 0 !important;
  width: 110px !important;
}

#areYouSure {
  transition: 0.2s ease-in-out;
  display: none;
}
#areYouSure .label {
  width: 235px;
  height: 100px;
  color: #a30404;
  font-size: 14px;
}

#areYouSure #sureYes {
  margin-right: 10px;
}

#cancelPost {
  margin-right: 10px;
}

#deletePost {
  transition: 0.2s ease-in-out;
  margin: 0 40px;
  width: 235px !important;
}

#newPostImage {
  min-height: 500px;
  border: 2px solid #ccc;
  width: 500px;
}

.descriptionPost .close {
  margin-top: -10px;
  margin-right: 5px;
  filter: saturate(250%);
  float: right;
  transition: 0.2s ease-in-out;
}

.descriptionPost .close:hover {
  background-color: white;
  filter: saturate(500%);
  cursor: pointer;
}

#newPostImage,
#loadedImg {
  border-radius: 5px;
  background-color: white;
  background-size: cover;
  transition: 0.2s ease-in-out;
  position: relative;
}

.postImage {
  margin: auto 0;
}

#newPostImage.highlight {
  cursor: pointer;
  -webkit-filter: brightness(40%);
  -moz-filter: brightness(40%);
  -o-filter: brightness(40%);
  -ms-filter: brightness(40%);
  filter: brightness(40%);
  border-color: var(--header-color);
}

#addIcon {
  color: black;
  display: inline-block;
  font-size: 70px;
  position: absolute;
  top: 185px;
  left: 220px;
}

#addText {
  color: black;
  display: inline-block;
  font-size: 14px;
  position: absolute;
  top: 270px;
  left: 120px;
}

#postImage {
  display: none;
}
