<div class="profileHeader">
  <link rel="stylesheet" href="/public/pages/user/anotherUser/header.css" />

  <div id="userBackground">

  </div>
  <div id="userPhoto">

  </div>
  <div class="userDescription">
    <span class="name">
      <%= user.login %>
    </span><br />
    <span class="label">О себе</span><br />
    <span class="descArea"></span>
  </div>

  <script src="/public/pages/user/anotherUser/header.js" charset="utf-8"></script>
</div>