<link rel="stylesheet" href="/public/pages/user/post/post.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="post" id="openedPost">

  <div id="justPost">
    <div id="postImg"></div>

    <div class="info">
      <div class="operationsPost">
        <div class="blueDivider"></div>
        <% if(isUser) { %>
        <button type="button" id="deletePost" class="btn">Удалить пост</button>
        <div id="areYouSure">
          <span class="label">Вы уверены?</span><br />
          <button type="button" id="sureYes" class="btn" data-dismiss="modal">Да</button>
          <button type="button" id="sureNo" class="btn">Нет</button>
        </div>
        <% } %>
      </div>
    </div>

  </div>

  <% if(isUser) { %>
  <div id="newPost">
    <div id="newImage">
      <div class="dropImages" id="newPostImage">
        <input type="file" id="postImage" accept="image/jpeg,image/png" onchange="postImages(this.files[0])">
        <span id="addIcon">+</span>
        <span id="addText">Нажмите или перетащите изображение</span>
      </div>
      <div class="dropImages" id="loadedImg"></div>
      <div id="loadBlock">
        <img src="/public/pages/user/icons/load.svg" alt="">
      </div>
    </div>

    <div class="info">
      <div class="operationsPost">
        <div class="blueDivider"></div>
        <button type="button" id="cancelPost" class="btn" data-dismiss="modal">Отмена</button>
        <button type="button" id="savePost" class="btn">Сохранить</button>
      </div>
    </div>
  </div>

  <% } %>
  <div class="descriptionPost">
    <div class="userInfo">
      <div id="userPhotoPost"></div>
      <span id="userNamePost"></span>
    </div>
    <div class="close" data-dismiss="modal">
      <img src="/public/pages/user/icons/close.svg" alt="" width="20">
    </div>
    <div id="postDate">
      <span id="date"></span>
    </div>
    <div id="likes">
      <% if (header.myLogin) { %>
      <div id="like" class="likeIcons">
        <img src="/public/pages/user/icons/like.svg" alt="" width="25">
      </div>
      <div id="unlike" class="likeIcons">
        <img src="/public/pages/user/icons/unlike.svg" alt="" width="25">
      </div>
      <% } %>
      <div id="likesCount">
        <span class="label">Нравится:</span>
        <span id="likesNum"></span>
      </div>
    </div>
    <div id="postStatus">
      <span id="status">Сходство</span>
      <a id="statusLink" class="nav-link"></a>
      <span id="similarity"></span>
    </div>
    <div id="offsetDivider" class="blueDivider"></div>
    <div id="hiddenComments">
      <div id="comments">
      </div>
      <% if (header.myLogin) { %>
      <div class="blueDivider"></div>
      <textarea type="text" id="setComment" maxlength="1000" rows="3" placeholder="Комментарий..."></textarea>
      <div id="sendComment" class="likeIcons">
        <img src="/public/pages/user/icons/send.svg" alt="" width="25">
      </div>
      <% } %>
    </div>
  </div>

</div>

<script src="/public/pages/user/post/post.js" charset="utf-8"></script>